<!DOCTYPE html>
<html>
<head>
<title>Language Translation Tool</title>
</head>

<body>

<h2>Language Translation Tool</h2>

<form method="POST">

<textarea name="text" placeholder="Enter text"></textarea>

<br><br>

<select name="language">
<option value="hi">Hindi</option>
<option value="kn">Kannada</option>
<option value="ta">Tamil</option>
<option value="fr">French</option>
<option value="es">Spanish</option>
</select>

<br><br>

<button type="submit">Translate</button>

</form>

<h3>Translated Text:</h3>

<p>{{ translated_text }}</p>

</body>
</html>